@media (max-width: 720px){
    .banner{
        width: 720px;
        height: 200px;
        font-size: 1.8rem;
    }
}
@media (max-width: 480px){
    .banner{
        width: 480px;
    height: 150px;
font-size: 1.5rem;
    }
}